@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*,*::after,*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.slider-container{
    width: 500px;
    height: 300px;
    overflow: hidden;
    margin: 16px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    position: relative;
}
.image-container{
    display: flex;
     /* transform: translateX(-1500px);  */
    /*this brings all the images in the container- use js to do this */
    transition: transform 0.4s ease-in-out;
}
.btn{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    /* to bring the icons exactly in the middle we do the above */
    color: white;
    font-size: 20px;
   opacity: 0.5;
   cursor: pointer;
}
.btn.prev{
    left: 10px;
}
.btn.next{
    right: 10px;
}
.btn:hover{
    opacity: 1;
}




